.root {
    -clr-back: #2a2c2a;
    -clr-mid: #424b54;
    -clr-mid-shadow: rgba(66, 75, 84, 0.75);
    -clr-front: #399E5A;
    -clr-accent: #63E2C6;
    -clr-accent-shadow: rgba(99, 226, 198, 0.5);
    -clr-active-accent: #A8C686;

    -fx-background-color: -clr-back;
}

.button {
    -fx-font-size: 16;
    -fx-padding: 5 10 5 10;

    -fx-text-fill: white;
    -fx-background-color: -clr-front;
    -fx-background-radius: 8;
    -fx-border-color: -clr-accent;
    -fx-border-width: 2;
    -fx-border-radius: 8;

    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 2);
}

.button:hover {
    -fx-border-color: -clr-active-accent;
}

.button:pressed {
    -fx-cursor: closed-hand;
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 1);
}

.title {
    -fx-fill: -clr-front;
    -fx-font-weight: bold;
    -fx-font-size: 48;
    -fx-effect: dropshadow(gaussian, -clr-accent-shadow, 10, 0.005, 2, 2);
    -fx-stroke: -clr-accent;
    -fx-stroke-width: 2;
}

.question-text {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font-size: 24;

    -fx-padding: 10 20 10 20;
    -fx-background-color: -clr-front;
    -fx-background-radius: 5;
}

.timer-text {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.answer-area {
    -fx-spacing: 15;
}

.answer-input {
    -fx-min-height: 30;
    -fx-padding: 10;

    -fx-text-fill: white;
    -fx-font-size: 16;

    -fx-background-color: -clr-mid;
    -fx-border-color: -clr-accent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.answer-input:focused {
    -fx-border-color: -clr-active-accent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0, 1, 1);
}

.running-score-text {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.grade-text {
    -fx-text-fill: white;
    -fx-font-size: 28;
    -fx-padding: 0 0 25 0;

    -fx-border-color: -clr-accent;
    -fx-border-style: dashed;
    -fx-border-width: 0 0 2 0;
}

.question-count-text {
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-font-size: 16;
}
